<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>My Homepage | Etlab </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="static/css/main.css" />
    <noscript>
        <style>
            #clock {
                display: none;
            }
        </style>
    </noscript>
</head>

<body>
    <main>
    	<h3 align="right">Welcome {{name}}</h3>
    	<h3 align="right">{{batch}}</h3>

        <div id="top-div">
            <div id="clock-div">
                <h1 id="clock">
                    00/00/0000
                    00:00:00
                </h1>
            </div>

            <form id="search-form" action="https://google.com">
                <div id="search-bar-wrapper">
                    <input id="search-bar" name="q" type="text" title="Search" />
                    <button id="search-bar-btn" type="submit">&#128270;</button>
                </div>
            </form>
        </div>
        <div id="links-container">
            <section class="link-section">
                <h2 class="link-section-title red">Essentials</h2>
                <hr />
                <ul class="link-list">
                    <li class="link-list-item"><a class="link" add target="_blank" href="https://web.whatsapp.com/">Whatsapp</a></li>
                    <li class="link-list-item"><a class="link" add target="_blank" href="https://youtube.com">Youtube</a></li>
                    <li class="link-list-item"><a class="link" add target="_blank" href="https://mail.google.com">Gmail</a></li>
                    <li class="link-list-item"><a class="link" add target="_blank" href="https://github.com">Github</a></li>
                    <li class="link-list-item"><a class="link" add target="_blank" href="https://linkedin.com">LinkedIn</a></li>
                </ul>
            </section>
            <section class="link-section" style="width: max-content;">
                <h2 class="link-section-title green">Meeting Links</h2>
                <hr />
                <ul class="link-list">
                	{% for k,v in links.items() %}
                    	<li class="link-list-item"><a class="link" add target="_blank" href={{ v }}>{{ k }}</a></li>
         			{% endfor %}
                </ul>
            </section>
            <section class="link-section" style="width: max-content;">
                <h2 class="link-section-title purple">Attendance</h2>
                <hr />
                <ul class="link-list">
                	{% for k,v in attendance.items() %}
                    	<li class="link-list-item"><a class="link" href="#">{{k}}:{{v}}</a></li>
                	{%endfor%}
                </ul>
            </section>
        </div>
    </main>

    <script src="static/js/main.js"></script>
</body>

</html>
